<%- include("../partials/head") %>
<h2>Utilisateur</h2>
<p>Username: <strong><%= u.username %></strong></p>
<p>Email: <strong><%= u.email %></strong></p>
<p><a href="/users">â† Liste</a></p>
<%- include("../partials/foot") %>
